html {
  height: 100%;
}

body {
  min-height: 100%;
}

#app, .componentContainer {
  min-height: 100vh;
  width: 100%;
}

.componentContainer {
  display: flex;
}

.transparent {
  opacity: 0;
  transition: 0.1s linear all;
}

/* ----- SignUp ----- */

.signUpContainer {
 margin: auto;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.signUpContainer input {
  height: 56px;
  padding: 16px 8px;
  font-size: 24px;
  margin: 0 0 8px 0;
  line-height: 24px;
}


.loginError {
  color: #DD513A;
  width: 70%;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 8px;
}

.loginButton {
  display: block;
}

.pwContainer {
  display: block;
  width: 100%;
}

.signUpContainer .password {
  display:inline;
  width: 55%;
  margin-bottom: 0;
  border-right: none;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

.signUpContainer .passwordLogin {
  width: 70%;
}

.signUpContainer .password:focus {
  border-right: none;
  border-bottom: none;
  text-align: left;
}

.signUpContainer .password:focus ~ .passwordTips {
  border-color: #1EAEDB;
}

.signUpContainer button.passwordTips {
  display: inline;
  width: 15%;
  height: 56px;
  font-size: 24px;
  border-left: none;
  padding: 16px 8px;
  border-bottom: none;
  border-color: #ccc;
  margin-bottom: 0;
  line-height: 24px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.passwordTips:hover {
  border-color: #ccc;
  color: #000;
}

.passwordTipsPopup {
  position: absolute;
  margin: auto;
  box-sizing: border-box;
  padding: 16px;
  z-index: 999;
  opacity: 0.9;
  transition: 0.3s all ease-in;
  width: 70%;
  top: 0;
  left: 15%;
  background-color: #33C3F0;
  border-radius: 4px;
  border: 1px solid #1EAEDB;
  box-shadow: inset 0 1px 0 #70d5f4;
}

.passwordTipsPopup a {
  color: #fff;
}

.hiddenpop {
  top: -560px;
  opacity: 0;
}

.passwordTipsPopup button.closePopUpButton {
  padding:0px 16px 0 0;
  background-color: none;
  position: absolute;
  border-top-left-radius: 0;
  right: 0;
  top: 0;
  border: none;
  box-shadow: inset 0 1px 0 #70d5f4;
}

.passwordTipsPopup button.button-primary.closePopUpButton:hover {
  color: #000;
  background-color: #33C3F0;
  border: none;
}

.signUpContainer .email {
    width: 70%;
}


input.password {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}


.passwordStrengthContainer {
  width: 70%;
  display: flex;
  margin: 0 auto 8px auto;
  height: 4px;
  background-color: #eee;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.passwordStrengthBar {
  height: 100%;
  width: 0%;
  transition: 0.2s all linear;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.strength0 {
  width: 20%;
}
.strength1 {
  width: 40%;
}
.strength2 {
  width: 60%;
}
.strength3 {
  width: 80%;
}
.strength4 {
  width: 100%;
}

.signUpError {
  color: #DD513A;
  margin-bottom: 16px;
}

.signUpContainer .password.invalid ~ .passwordTips {
  border-color: #DD513A;
}

.pw {
  transition: 0.2s linear all;
}

/* ----- Nav ----- */

.navContainer {
  width: 25%;
  height: 100vh;
  max-width: 200px;
}

.navFixed {
  position: fixed;
  background-color: #33C3F0;
  border-right: 1px solid #1EAEDB;
  box-shadow: inset -1px 0 0 #70d5f4;
  width: 25%;
  max-width: 200px;
  box-sizing: border-box;
  padding: 8px 0 8px 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.navContainer a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
  flex-grow: 0;
}

.navContainer a:hover {
  color: #70d5f4;
}

.navRow {
  padding: 0 8px 8px 8px;
}

div.logoutButton {
  display: flex;
  align-self: end;
  margin-top: auto;
  text-align: center;
}

/* ----- Content ----- */

.contentContainer {
  width: 100%;
  flex: 1;
}

/* ----- Home ----- */

.homeContainer {
  padding: 16px;
}

/* ----- Add Entry ----- */

.addEntryContainer {
  max-width: 950px;
  padding: 32px;
}

.inputRow {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.twenty {
  flex-shrink: 0;
  flex-basis: 15px;
}

.sixty {
  width: 60%;
}

/* ----- Global Styles ----- */
.line {
  fill: none;
  stroke-width: 2px;
}

.container {
  text-align: center;
}

.tooltip {
  color: red;
  text-shadow: 0px 1px 0px #000;
  opacity: 1;
  transition: all 0.2s linear;
  margin-top: -30px;
}

.hidden {
  opacity: 0;
}


.displayNone {
  display: none;
}

.loginContainer input {
  width: 40%;
}

/* Class add ons */

.inline {
  display: inline;
}

button.disabled {
  background-color: #eee;
  border-color: #eee;
  color: #bbb;
  cursor: default;
}

button.disabled:hover {
  background-color: #eee;
  border-color: #eee;
  color: #bbb;
  cursor: default;
}

button.disabled:active {
  background-color: #eee;
  border-color: #eee;
  color: #bbb;
  cursor: default;
}

button.disabled:focus {
  background-color: #eee;
  border-color: #eee;
  color: #bbb;
  cursor: default;
}

button.success {
  background-color: green;
  border-color: green;
  color: #bbb;
  cursor: default;
}

button.success:hover {
  background-color: green;
  border-color: green;
  color: #bbb;
  cursor: default;
}

button.success:active {
  background-color: green;
  border-color: green;
  color: #bbb;
  cursor: default;
}

button.success:focus {
  background-color: green;
  border-color: green;
  color: #bbb;
  cursor: default;
}

input.invalid {
  border-color: #DD513A;
}

input.invalid:focus {
  border-color: #DD513A;
}

#createButton {
  transition: all 0.3s linear;
}



.title {
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-weight: 600;
  margin: 0;
}

.h7 {
  font-size: 2rem;
}

.section {
  border-bottom: 1px solid #eee;
  margin-bottom: 2%;
  padding-bottom: 2%;
}

/* Navigation */

.nav {
  margin-top: 1%;
}

.button-nav {
  background-color: none;
  border: none;
  color: #000;
}

.legendRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.legend {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-weight: 600;
  margin: 0;
  cursor: pointer;
  width: 20%;
}

.faded {
  color: #ddd !important;
}


.legend:hover {
  color: #000 !important;
}

#legendRow {
  flex-shrink: 0;
  flex-grow: 0;
}

.flexWrap {
  display: flex;
  flex-direction: column;
}


/* ----- Index ----- */

#svgContainer {
  width: 100%;
  flex: 1 1 auto;
}

.downArrow {
  margin-top: -70px;
  opacity: 0.6;
  transition: all 0.2s linear;
}

.downArrow:hover {
  opacity: 1;
}

.downArrow img {
  cursor: pointer;
}

.text {
  font-size: 1.3em;
  font-weight: 300;
}




/* ----- viewEntry ----- */

.date {
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: .2rem;
  font-weight: 400;
  margin:0;
}



/* ----- addEntry ----- */

/* Variable input */

.variableRow div:nth-child(4n+5) {
  margin-left: 0;
}

input[type=text] {
  width: 80%;
  text-align: center;
}

/* Text area */

.entryText {
  width: 100%;
  height: 40vh;
  text-align: center;
}

.entryText::first-line {
  font-weight: 600;
}

/* Input range */

.range div:nth-child(1) {
  text-align: right;
}

.range div:nth-last-child(1) {
  text-align: left;
}

.rightInput {
  margin-left:0;
  float: right;
  width: 20%;
  padding-left: 4%;
  padding-right: 5%;
}

.leftInput {
  margin-right: 0;
  display: inline;
  float:left;
  width: 80%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #bbb;
}

input[type=range]::-webkit-slider-thumb {
  border: 1px solid #000000;
  height: 16px;
  width: 20%;
  border-radius: 4px;
  color: #FFF;
  transition: 0.1s ease-in all;
  background-color: #33C3F0;
  border-color: #33C3F0;
  cursor: pointer;
  margin-top: -6px;
  -webkit-appearance: none;
}

input[type=range]:focus::-webkit-slider-thumb {
  background-color: #1EAEDB;
  border-color: #1EAEDB;
}

input[type=range]:hover::-webkit-slider-thumb {
  background-color: #1EAEDB;
  border-color: #1EAEDB;
}

input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
}

/* */
