/* ----- Global Styles ----- */
.line {
  fill: none;
  stroke-width: 2px;
}


body {
  padding-top: 2%;
}

.container {
  text-align: center;
}

.tooltip {
  color: red;
  text-shadow: 0px 1px 0px #000;
  opacity: 1;
  transition: all 0.2s linear;
  margin-top: -30px;
}

.hidden {
  opacity: 0;
}

.displayNone {
  display: none;
}

/* Class add ons */

.inline {
  display: inline;
}

button.disabled {
  background-color: #eee;
  border-color: #eee;
  color: #bbb;
  cursor: default;
}

button.disabled:hover {
  background-color: #eee;
  border-color: #eee;
  color: #bbb;
  cursor: default;
}

button.disabled:active {
  background-color: #eee;
  border-color: #eee;
  color: #bbb;
  cursor: default;
}

button.disabled:focus {
  background-color: #eee;
  border-color: #eee;
  color: #bbb;
  cursor: default;
}

button.success {
  background-color: green;
  border-color: green;
  color: #bbb;
  cursor: default;
}

button.success:hover {
  background-color: green;
  border-color: green;
  color: #bbb;
  cursor: default;
}

button.success:active {
  background-color: green;
  border-color: green;
  color: #bbb;
  cursor: default;
}

button.success:focus {
  background-color: green;
  border-color: green;
  color: #bbb;
  cursor: default;
}

input.invalid {
  border-color: red;
}

input.invalid:focus {
  border-color: red;
}

#createButton {
  transition: all 0.3s linear;
}



.title {
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-weight: 600;
  margin: 0;
}

.h7 {
  font-size: 2rem;
}

.section {
  border-bottom: 1px solid #eee;
  margin-bottom: 2%;
  padding-bottom: 2%;
}

/* Navigation */

.button-nav {
  background-color: none;
  border: none;
  color: #000;
}

.legendRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.legend {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-weight: 600;
  margin: 0;
  cursor: pointer;
  width: 20%;
}

.faded {
  color: #ddd !important;
}


.legend:hover {
  color: #000 !important;
}

#legendRow {
  flex-shrink: 0;
  flex-grow: 0;
}

.flexWrap {
  display: flex;
  flex-direction: column;
}


/* ----- Index ----- */

#svgContainer {
  width: 100%;
  flex: 1 1 auto;
  margin: auto;
}

.downArrow {
  margin-top: -70px;
  opacity: 0.6;
  transition: all 0.2s linear;
}

.downArrow:hover {
  opacity: 1;
}

.downArrow img {
  cursor: pointer;
}

.text {
  font-size: 1.3em;
  font-weight: 300;
}




/* ----- viewEntry ----- */

.date {
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: .2rem;
  font-weight: 400;
  margin:0;
}



/* ----- addEntry ----- */

/* Variable input */

.variableRow div:nth-child(4n+5) {
  margin-left: 0;
}

input[type=text] {
  width: 80%;
  text-align: center;
}

/* Text area */

.entryText {
  width: 100%;
  height: 40vh;
  text-align: center;
}

.entryText::first-line {
  font-weight: 600;
}

/* Input range */

.range div:nth-child(1) {
  text-align: right;
}

.range div:nth-last-child(1) {
  text-align: left;
}

.rightInput {
  margin-left:0;
  float: right;
  width: 20%;
  padding-left: 4%;
  padding-right: 5%;
}

.leftInput {
  margin-right: 0;
  display: inline;
  float:left;
  width: 80%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #bbb;
}

input[type=range]::-webkit-slider-thumb {
  border: 1px solid #000000;
  height: 16px;
  width: 20%;
  border-radius: 4px;
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0;
  cursor: pointer;
  margin-top: -6px;
  -webkit-appearance: none;
}

input[type=range]:focus::-webkit-slider-thumb {
  background-color: #1EAEDB;
  border-color: #1EAEDB;
}

input[type=range]:hover::-webkit-slider-thumb {
  background-color: #1EAEDB;
  border-color: #1EAEDB;
}

input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
}

/* */
